
.footer {
   width: 100%;
   text-align: center;
   padding: 30px 0 20px;
}

.footer__list {
   display: flex;
   gap: 40px;
   justify-content: center;
   align-items: flex-end;
}

.footer__link a {
   color: #000;
   font-size: 12px;
   line-height: 17px;
}

.footer__link a:hover {
   opacity: .6;
}

.footer .after-img.black {
   padding: 30px 0 0 0;
}